body {
    margin: 5px;    
}

header {    
    max-width: 1024px;
    background-color: lightgray;
}

h1 {
    width: 100%;
}

span {
    font-size: 14px;    
}

.complete-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {    
    display: flex;
    flex-wrap: wrap;        
}

.bundesland {
    display: block;
    text-decoration: none;
    width: calc(33% - 10px);
    margin: 5px;
    padding: 10px;
    border: 5px solid lightgray;
    
}